.gradle
build/
ScratchBasic/.idea
ScratchBasic/.idea/
ScratchBasic/.idea/gradle.xml
ScratchBasic/.idea/vcs.xml
ScratchBasic/.idea/modules.xml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
